body {
    background: #191919;  /* fallback for old browsers */
    font-family: 'Roboto', sans-serif;
}

.navbar {
    justify-content: center;
}

.navbar-brand {
    margin: 0;
}

.bg-dark {
    background-color: #282d31!important;
}

.fa-apple {
    font-size: 2rem;
}

.recent-text {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: .5em;
    margin-bottom: 0;
}

.container {
   display: grid;
   margin-top: 0;
   justify-content: center;
   grid-template-columns: 200px 200px;
   grid-gap: 10px;
   color: #444;
}
  
.box {
  width: 200px;
  height: 200px;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  margin: .3em;
}


.title-text,
.artist-text {
    margin: 0;
    font-size: .9rem;
}

.title-text {
    margin-top: .5em;
}

.artist-text {
    color: #9e9e9e;
}

.player-img {
    width: 50px;
}

img {
    cursor: pointer;
    max-width: 100%;
    border-radius: 5px;
    transition: .5s;
}

img:hover,
img:focus {
    box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

button {
    cursor: pointer;
    background-color: #000000;
    color: black;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: #282d31;
}



footer nav {
    margin-top: 8.1em;
}

.fa-stop {
    font-size: 2rem;
    transition: all .2s ease-in-out; 
}

.fa-stop:hover,
.fa-stop:focus {
    color: #b9b9b9;
    transform: scale(1.1);
}

@media (min-width: 800px) {
    .container {
        grid-template-columns: 300px 300px;
        grid-gap: 10px;
    }

    .box {
        width: 300px;
        height: 300px;
    }

    .artist-text {
        font-size: .9rem;
    }
}